@model ApplicationUser
@inject IFollowService followService
@inject IPostService postService
@inject UserManager<ApplicationUser> userManager

<div class="user-info">
    <img class="user-profile-img" src="data:image/png;base64,@Convert.ToBase64String(Model.ProfileImage)" alt="Image" style="width:150px; height:150px;">
    <h5 class="user-username" style="font-size:40px">
        @Model.UserName      
    </h5>
</div>

@{
    int followersCount = await followService.GetUserFollowersCountAsync(Model.Id);

    <button class="followers-btn">
        <h5 class="followers-text">@followersCount followers</h5>
    </button>

    if (Model.Id != User.Id())
    {
        bool isUserFollowed = await followService.IsProfileFollowedByUserAsync(Model.Id, User.Id());
        string followBtnText = "";
        string folBtnBackCol = "";

        if (isUserFollowed)
        {
            followBtnText = "Unfollow";
            folBtnBackCol = "gray";
        }

        else
        {
            followBtnText = "Follow";
            folBtnBackCol = "lightcoral";
        }

        <button class="follow-btn" data-user-id="@Model.Id" style="background: @folBtnBackCol">@followBtnText</button>
    }    

    <div class="profile-buttons">
        <button class="profile-button-posts">
            Posts
        </button>
        <button class="profile-button-info">
            Information
        </button>           
    </div>

    <br />
    <div class="profile-posts-container" style="display:block">
        @{
            var posts = await postService.GetPostsForPageAsync(Model.Id, true, 1);

        foreach (var post in posts.Posts)
        {
            <div class="text-center">
                <partial name="_PostPartial" model="post" />
            </div>
        }

        <div class="user-followers-form">
            <div class="text-center">
                <h3 style="margin-top:20px;">Followers</h3><br />

                @{
                    var followers = await followService.GetUserFollowersAsync(Model.Id);
                    foreach (var item in followers)
                    {
                        var follower = await userManager.FindByIdAsync(item.FollowerId);

                        <a asp-action="Profile" asp-controller="User" asp-route-username="@follower.UserName" style="text-decoration: none">
                            <div class="user-info" style="display: block">
                                <img class="user-profile-img" src="data:image/png;base64,@Convert.ToBase64String(follower.ProfileImage)" alt="Image">
                                <h5 class="user-username">@follower.UserName</h5>
                            </div>
                        </a>

                        <br />
                    }
                }

                <button class="followers-btn">
                    <h3>X</h3>
                </button>
            </div>
        </div>
        }
    </div>

    <br />
    <div class="profile-info-container" style="display: none; align-items: center;">
        @{
            <div class="info-buttons-container">
                <h4 style="margin-bottom:10px;">Information</h4>

                <button class="info-button" id="info-btn-general" data-info-variant="General" style="background: rgb(220, 220, 220);">General</button>
                <button class="info-button" id="info-btn-work" data-info-variant="Work">Work and Education</button>
                <button class="info-button" id="info-btn-residence" data-info-variant="Residence">Residence</button>
                <button class="info-button" id="info-btn-relation" data-info-variant="Relation">Relationships</button>
            </div>

            <div class="info-container-general" style="display: block">
                <h5 class="info-title">General</h5>
            </div>
            <div class="info-container-work" style="display: none">
                <h5 class="info-title">Work</h5>
            </div>
            <div class="info-container-residence" style="display: none">
                <h5 class="info-title">Residence</h5>
            </div>
            <div class="info-container-relation" style="display: none">
                <h5 class="info-title">Relationships</h5>
            </div>
        }
    </div>
}