@model PostInfoModel
@inject ILikeService likeService 

<div class="post-container">
    <div class="user-info">
        <img class="post-profile-img" src="data:image/png;base64,@Model.UserProfileImage" alt="Image">
        <h5 class="post-username">@Model.Username</h5>
    </div>
    <div class="post-details">
        <h2 class="text-start">@Model.Content</h2>
    </div>
    <img src="data:image/png;base64,@Model.Image" alt="Image" style="width: 550px; height: 400px;">
    <div class="post-buttons">
        @{
            if (await likeService.IsPostLikedByUserAsync(Model.Id, User.Id()) == false)
            {
                <div class="post-buttons-link"> 
                    <div class="like-container">
                        <a class="like-btn">
                            <img src="~/images/blackbuttons/heart.png" />
                        </a>
                        <div class="reaction-form">
                            <a class="reaction-btn" asp-action="Like" asp-controller="Post">
                                <img src="~/images/likes/Thumb.png" />
                            </a>
                            <a class="reaction-btn" asp-action="Like" asp-controller="Post">
                                <img src="~/images/likes/Love.png" />
                            </a>
                            <a class="reaction-btn" asp-action="Like" asp-controller="Post">
                                <img src="~/images/likes/Haha.png" />
                            </a>
                            <a class="reaction-btn" asp-action="Like" asp-controller="Post">
                                <img src="~/images/likes/Wow.png" />
                            </a>
                            <a class="reaction-btn" asp-action="Like" asp-controller="Post">
                                <img src="~/images/likes/Sad.png" />
                            </a>
                            <a class="reaction-btn" asp-action="Like" asp-controller="Post">
                                <img src="~/images/likes/Angry.png" />
                            </a>
                        </div>
                    </div>                   
                </div>                
            }
            else
            {
                string variant = await likeService.GetLikeVariantAsync(Model.Id, User.Id());
                string image = variant + ".png";
                <a class="post-buttons-link" asp-action="Unlike" asp-controller="Post">
                    <img src="~/images/likes/@image" />
                    <span class="fw-bold text-dark">@variant</span>
                </a>
            }
        }        
        <a class="post-buttons-link"><img src="~/images/BlackButtons/comment.png" /></a>
        <a class="post-buttons-link"><img src="~/images/BlackButtons/favorite.png" /></a>
    </div>
    <div class="post-details">
        <h5 class="text-start">@Model.LikesCount likes</h5>
        @if (Model.LastCommentUsername != null && Model.LastCommentContent != null)
        {
            <div class="text-start">
                <p class="mb-0 text-dark"><span class="fw-bold text-dark">@Model.LastCommentUsername </span>@Model.LastCommentContent</p>
            </div>
        }
    </div>
</div>