@model PostInfoModel
@inject ILikeService likeService 
@inject IFavoritePostService favoritePostService
@inject ICommentService commentService
@inject UserManager<ApplicationUser> userManager

<div class="post-container">
    <a asp-action="Profile" asp-controller="User" asp-route-username="@Model.Username" style="text-decoration: none">
        <div class="user-info">
            <img class="user-profile-img" src="data:image/png;base64,@Model.UserProfileImage" alt="Image">
            <h5 class="user-username">@Model.Username</h5>
            @{
                if (Model.Status != null && string.IsNullOrEmpty(Model.Status) == false && Model.Status != "")
                {
                    <h5 class="user-username" style="font-size:17px; font-weight: normal;"> feels @Model.Status</h5>
                }
            }
        </div>
    </a>
    <div class="post-details">
        <h2 class="text-start">@Model.Content</h2>
    </div>
    <img src="data:image/png;base64,@Model.Image" alt="Image" style="width: 550px; height: 400px;">
    <div class="post-buttons">
        <div class="post-buttons-link">
            <div class="like-container">
                @{
                    string imageValue = "";
                    if (await likeService.IsPostLikedByUserAsync(Model.Id, User.Id()) == false)
                    {
                        imageValue = "blackbuttons/heart.png";
                    }
                    else
                    {
                        var like = await likeService.GetLikeByPostAndUserIdAsync(Model.Id, User.Id());
                        imageValue = "likes/"+like.Variant+".png";
                       
                    }
                    <button class="like-btn" data-post-id="@Model.Id">
                        <img class="like-image-@Model.Id" src="~/images/@imageValue" />
                    </button>
                    <div class="reaction-form">
                        <button class="reaction-btn" data-variant="Thumb" data-post-id="@Model.Id">
                            <img src="~/images/likes/Thumb.png" />
                        </button>
                        <button class="reaction-btn" data-variant="Love" data-post-id="@Model.Id">
                            <img src="~/images/likes/Love.png" />
                        </button>
                        <button class="reaction-btn" data-variant="Haha" data-post-id="@Model.Id">
                            <img src="~/images/likes/Haha.png" />
                        </button>
                        <button class="reaction-btn" data-variant="Wow" data-post-id="@Model.Id">
                            <img src="~/images/likes/Wow.png" />
                        </button>
                        <button class="reaction-btn" data-variant="Sad" data-post-id="@Model.Id">
                            <img src="~/images/likes/Sad.png" />
                        </button>
                        <button class="reaction-btn" data-variant="Angry" data-post-id="@Model.Id">
                            <img src="~/images/likes/Angry.png" />
                        </button>
                    </div>
                }                
            </div>
        </div>     
        
        <div class="post-buttons-link">
            <button class="all-comments-btn" data-post-id="@Model.Id">
                <img src="~/images/BlackButtons/comment.png" />
            </button>
            <div class="all-comments-form-@Model.Id" style="display: none;
                                                    position: fixed;
                                                    justify-content: center;
                                                    align-items: center;
                                                    left: 0%;
                                                    top: 10%;
                                                    width: 100%;
                                                    height: 80%;
                                                    overflow: auto;
                                                    background-color: white;
                                                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <h3 style="margin-top:20px">Comments</h3>
                @{
                    var postComments = await commentService.GetCommentsForPostAsync(Model.Id);

                    foreach (var comment in postComments)
                    {
                        <div class="comments-content">
                            @{
                                var commentUser = await userManager.FindByIdAsync(comment.UserId);
                                var commentUserProfileImage = Convert.ToBase64String(commentUser.ProfileImage);

                                <a asp-action="Profile" asp-controller="User" asp-route-username="@commentUser.UserName" style="text-decoration: none">
                                    <div class="user-info">
                                        <img class="user-profile-img" src="data:image/png;base64,@commentUserProfileImage" alt="Image">
                                        <h5 class="user-username">@commentUser.UserName</h5>
                                        <h5 class="user-username">: @comment.Content</h5>
                                    </div>    
                                </a>    
                            }
                        </div>
                    }                    
                }
                <button class="all-comments-btn" data-post-id="@Model.Id">
                    <h3>X</h3>
                </button>
            </div>
        </div>

        <div class="post-buttons-link">
            <button class="favorite-btn" data-post-id="@Model.Id">
                @{
                    string favoriteButtonImg = "";
                    if (await favoritePostService.IsFavoritePostExistsAsync(Model.Id, User.Id()) == true)
                    {
                        favoriteButtonImg = "favorite_pressed.png";
                    }
                    else
                    {
                        favoriteButtonImg = "favorite.png";
                    }
                    <img class="favorite-img-@Model.Id" src="~/images/BlackButtons/@favoriteButtonImg" />
                }
            </button>
        </div>
    </div>
    <div class="post-details">
        <div class ="text-start">
            <button class="all-likes-btn" data-post-id="@Model.Id">
                <h5 class="post-likescount-@Model.Id">@Model.LikesCount likes</h5>
            </button>            
        </div>
        <div class="all-likes-form-@Model.Id" style="display: none;
                                                    position: fixed;
                                                    justify-content: center;
                                                    align-items: center;
                                                    left: 0%;
                                                    top: 10%;
                                                    width: 100%;
                                                    height: 80%;
                                                    overflow: auto;
                                                    background-color: white;
                                                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <h3 style="margin-top:20px">Likes</h3>

            @for(int i = 1; i <= 6; i++)
            {
                string likeButtonVariant = "";

                switch (i)
                {
                    case 1:
                        likeButtonVariant = "Thumb"; break;
                    case 2:
                        likeButtonVariant = "Love"; break;
                    case 3:
                        likeButtonVariant = "Haha"; break;
                    case 4:
                        likeButtonVariant = "Wow"; break;
                    case 5:
                        likeButtonVariant = "Sad"; break;
                    case 6:
                        likeButtonVariant = "Angry"; break;
                }

                string imageLikeButtonVariant = likeButtonVariant + ".png";
                int likesVariantCount = await likeService.GetLikesVariantCountAsync(Model.Id, likeButtonVariant);

                <button class="likes-variant-btn" data-post-id="@Model.Id" data-likes-variant="@likeButtonVariant">
                    <img src="~/images/likes/@imageLikeButtonVariant" />
                    <h4>@likesVariantCount</h4>
                </button>
            }

            @for(int i=1;i<=6;i++)
            {
                string likesContentVariant = "";

                switch (i)
                {
                    case 1:
                        likesContentVariant = "Thumb"; break;
                    case 2:
                        likesContentVariant = "Love"; break;
                    case 3:
                        likesContentVariant = "Haha"; break;
                    case 4:
                        likesContentVariant = "Wow"; break;
                    case 5:
                        likesContentVariant = "Sad"; break;
                    case 6:
                        likesContentVariant = "Angry"; break;
                }

                string imageLikeContentVariant = likesContentVariant + ".png";

                <div class="likes-content-@likesContentVariant.ToLower()" style="display:none;
                                                                                 background-color: #fefefe;
                                                                                 padding: 5px;
                                                                                 border: 1px solid #888;
                                                                                 border-radius: 10px;
                                                                                 width: 80%;
                                                                                 margin: 40px 0 10px 10%;">
                    @{
                        var likes = await likeService.GetLikesPerVariantForPostAsync(Model.Id, likesContentVariant);

                        foreach (var likeItem in likes)
                        {
                            var likeUser = await userManager.FindByIdAsync(likeItem.UserId);
                            var likeUserProfileImage = Convert.ToBase64String(likeUser.ProfileImage);

                            <a asp-action="Profile" asp-controller="User" asp-route-username="@likeUser.UserName" style="text-decoration: none">
                                <div class="user-info">
                                    <img class="user-profile-img" src="data:image/png;base64,@likeUserProfileImage" alt="Image">
                                    <h5 class="user-username">@likeUser.UserName :</h5>
                                    <img src="~/images/likes/@imageLikeContentVariant" style="width:35px; height:35px" />
                                </div>
                            </a>
                        }
                    }
                </div>
            }
            

            <button class="all-likes-btn" data-post-id="@Model.Id">
                <h3>X</h3>
            </button>
        </div>

        @if (Model.LastCommentUsername != null && Model.LastCommentContent != null)
        {
            <div class="last-comment">
                <p class="last-comment-username-@Model.Id" style="color:black; font-weight: bold">@Model.LastCommentUsername</p>
                <p class="last-comment-content-@Model.Id" style="color:black;">: @Model.LastCommentContent</p>
            </div>
            <br />
        }
        <div class="post-comment" >
            <textarea rows="1" class="form-control" id="comment-text-@Model.Id" placeholder="Add a comment..." style="border:none" oninput="toggleCommentVisibility(this)"></textarea>
            <button class="comment-button" data-post-id="@Model.Id" data-username="@User.Identity?.Name">
                POST
            </button>
        </div>
        
    </div>
</div>