@model PostInfoModel
@inject ILikeService likeService 

<div class="post-container">
    <div class="user-info">
        <img class="post-profile-img" src="data:image/png;base64,@Model.UserProfileImage" alt="Image">
        <h5 class="post-username">@Model.Username</h5>
    </div>
    <div class="post-details">
        <h2 class="text-start">@Model.Content</h2>
    </div>
    <img src="data:image/png;base64,@Model.Image" alt="Image" style="width: 550px; height: 400px;">
    <div class="post-buttons">
        <div class="post-buttons-link">
            <div class="like-container">
                @{
                    string imageValue = "";
                    if (await likeService.IsPostLikedByUserAsync(Model.Id, User.Id()) == false)
                    {
                        imageValue = "blackbuttons/heart.png";
                    }
                    else
                    {
                        var like = await likeService.GetLikeByIdAsync(Model.Id, User.Id());
                        imageValue = "likes/"+like.Variant+".png";
                       
                    }
                    <button class="like-btn" data-post-id="@Model.Id">
                        <img class="like-image-@Model.Id" src="~/images/@imageValue" />
                    </button>
                    <div class="reaction-form">
                        <button class="reaction-btn" data-variant="Thumb" data-post-id="@Model.Id">
                            <img src="~/images/likes/Thumb.png" />
                        </button>
                        <button class="reaction-btn" data-variant="Love" data-post-id="@Model.Id">
                            <img src="~/images/likes/Love.png" />
                        </button>
                        <button class="reaction-btn" data-variant="Haha" data-post-id="@Model.Id">
                            <img src="~/images/likes/Haha.png" />
                        </button>
                        <button class="reaction-btn" data-variant="Wow" data-post-id="@Model.Id">
                            <img src="~/images/likes/Wow.png" />
                        </button>
                        <button class="reaction-btn" data-variant="Sad" data-post-id="@Model.Id">
                            <img src="~/images/likes/Sad.png" />
                        </button>
                        <button class="reaction-btn" data-variant="Angry" data-post-id="@Model.Id">
                            <img src="~/images/likes/Angry.png" />
                        </button>
                    </div>
                }                
            </div>
        </div>     
        <a class="post-buttons-link"><img src="~/images/BlackButtons/comment.png" /></a>
        <a class="post-buttons-link"><img src="~/images/BlackButtons/favorite.png" /></a>
    </div>
    <div class="post-details">
        <div class ="text-start">
            <h5 class="post-likescount-@Model.Id">@Model.LikesCount likes</h5>
        </div>
        @if (Model.LastCommentUsername != null && Model.LastCommentContent != null)
        {
            <div class="last-comment">
                <p class="last-comment-username-@Model.Id" style="color:black; font-weight: bold">@Model.LastCommentUsername</p>
                <p class="last-comment-content-@Model.Id" style="color:black;">: @Model.LastCommentContent</p>
            </div>
            <br />
        }
        <div class="post-comment" >
            <textarea rows="1" class="form-control" id="comment-text-@Model.Id" placeholder="Add a comment..." style="border:none" oninput="toggleCommentVisibility(this)"></textarea>
            <button class="comment-button" data-post-id="@Model.Id" data-username="@User.Identity?.Name">
                POST
            </button>
        </div>
        
    </div>
</div>