@model IEnumerable<NotificationModel>
@inject UserManager<ApplicationUser> userManager
@inject IPostService postService
@inject ILikeService likeService
@inject ICommentService commentService
@inject IFollowService followService

<br />
@{
    if (Model.Any())
    {
        foreach (var item in Model)
        {
            var user = await userManager.FindByIdAsync(item.OtherUserId);
            var userProfileImage = Convert.ToBase64String(user.ProfileImage);
            string backgroundColor = "";

            if (item.IsRead)
            {
                backgroundColor = "WhiteSmoke";
            }
            else
            {
                backgroundColor = "White";
            }

            if (item.Type == "Like")
            {
                var like = await likeService.GetLikeByIdAsync(item.RelatedId);

                if (like != null)
                {
                    <div class="not-content" style="background:@backgroundColor">
                        <a asp-action="Details" asp-controller="Post" asp-route-postId="@item.RelatedId" asp-route-notId="@item.Id" style="text-decoration: none">
                            <div class="user-info">
                                <img class="user-profile-img" src="data:image/png;base64,@userProfileImage" alt="Image">
                                <h5 class="user-username">@user.UserName</h5>
                                @{
                                    string likeImage = like.Variant + ".png";
                                }
                                <h5 class="user-username">
                                    liked your post with
                                    <img src="~/images/likes/@likeImage" style="width: 20px; height:20px;" />
                                </h5>
                            </div>
                        </a>
                    </div>
                }
            }
            else if (item.Type == "Comment")
            {
                var comment = await commentService.GetCommentByIdAsync(item.RelatedId);

                if (comment != null)
                {
                    <div class="not-content" style="background:@backgroundColor">
                        <a asp-action="Details" asp-controller="Post" asp-route-postId="@item.RelatedId" asp-route-notId="@item.Id" style="text-decoration: none">
                            <div class="user-info">
                                <img class="user-profile-img" src="data:image/png;base64,@userProfileImage" alt="Image">
                                <h5 class="user-username">@user.UserName</h5>
                                <h5 class="user-username"> commented your post!</h5>
                            </div>
                        </a>
                    </div>
                }
            }
            else if (item.Type == "Post")
            {
                var post = await postService.GetPostByIdAsync(item.RelatedId);

                if (post != null)
                {
                    <div class="not-content" style="background:@backgroundColor">
                        <a asp-action="Details" asp-controller="Post" asp-route-postId="@item.RelatedId" asp-route-notId="@item.Id" style="text-decoration: none">
                            <div class="user-info">
                                <img class="user-profile-img" src="data:image/png;base64,@userProfileImage" alt="Image">
                                <h5 class="user-username">@user.UserName</h5>
                                <h5 class="user-username"> added a new post!</h5>
                            </div>
                        </a>
                    </div>
                }
            }
            else if (item.Type == "Follow")
            {
                var follow = await followService.GetFollowByIdAsync(item.RelatedId);

                if (follow != null)
                {
                    <div class="not-content" style="background:@backgroundColor">
                        <a asp-action="Profile" asp-controller="User" asp-route-username="@user.UserName" style="text-decoration: none">
                            <div class="user-info">
                                <img class="user-profile-img" src="data:image/png;base64,@userProfileImage" alt="Image">
                                <h5 class="user-username">@user.UserName</h5>
                                <h5 class="user-username"> followed you!</h5>
                            </div>
                        </a>
                    </div>
                }
            }
        }
    }
    else
    {
        <h5 class="text-start">No new notifications!</h5>
    }
}